/* src/ProductCard.css */
.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 240px;
    /* Ajuste de largura para o card */
    text-align: center;
    transition: transform 0.3s;
}

.product-card.hovered {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card button {
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px 0px 0px 0px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    gap: 10px;
}

.cart-button {
    background-color: #007bff;
    color: white;
    width: 240px;
    height: 48px;
    /* Definido conforme o requisito */
}

.cart-button.in-cart {
    background-color: #28a745;
}

.cart-button:hover {
    background-color: #0056b3;
}

.wishlist-button {
    background-color: #ffc107;
    color: white;
    margin-top: 10px;
    width: 240px;
    height: 48px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px 0px 0px 0px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

.wishlist-button.in-wishlist {
    background-color: #dc3545;
}

.wishlist-button:hover {
    background-color: #e0a800;
}